/* 全局样式 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font: 13px/1.5 'tahoma', "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", arial, \5b8b\4f53;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}

small {
  font-size: 12px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

/* default backgroudColor */

body {
  background-color: #edf0f0;
  color: #353535;
}

a:link {
  text-decoration: none;
  color: #535353;
}

a:visited {
  text-decoration: none;
  color: #535353;
}

a:hover {
  text-decoration: none;
  color: #353535;
}

.el-carousel__item {
  display: flex;
  align-items: center;
  /* margin-top: 50px; */
  /* height: 300px; */
}

.el-carousel__item img {
  width: 100%
}

.el-carousel__arrow {
  background-color: rgba(0, 0, 0, 0.3) !important;
  font-size: 25px !important;
}

.el-carousel__arrow:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.el-carousel__indicator {
  padding: 15px 5px !important;
}

.el-carousel .el-carousel__indicators .el-carousel__indicator .el-carousel__button {
  /* background-color: red; */
  height: 5px;
  width: 40px;
}
